<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
  <meta charset="UTF-8">
  <title th:replace="${title}">Dit is de algemene titel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        window.addEventListener("mouseup", focusLoss);

        function focusLoss(event) {
            let profile = document.getElementById("profileLinks");
            if (event.target !== profile) {
                profile.style.display = "none";
                closeNav();
            }
        }

        function profileMenuExtend() {
            let profile = document.getElementById("profileLinks");
            if (profile.style.display === "flex") {
                profile.style.display = "none";
            } else {
                profile.style.display = "flex";
            }
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</head>
<body>

<div class="topnavbar" th:fragment="navbar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link" th:href="@{/groups}">Groups</a>
        <a class="nav-link" th:href="@{/taskLists}">Tasklists</a>
        <a class="nav-link" th:href="@{/users}">Users</a>
    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <div id="homeDiv">
        <a id="home" th:href="@{/}"><img th:src="@{/css/images/CaToLogo.jpg}" height="40" alt="Home"> Care Together</a>
    </div>

    <div id="profileMenu">
        <a href="javascript:void(0)" class="profileIcon" onclick="profileMenuExtend()">
            <i class="fa fa-user"></i>
        </a>
    </div>

    <div id="profileLinks">
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Log in</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/profilepage/{userId}(userId =${#authentication.getPrincipal().getUserId()})}">My Profile</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Log out</a>
        </li>
        <li>
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/registration}">Create account</a>
        </li>
    </div>
</div>

<div class="breadCrumbsBar" th:fragment="breadCrumbsBar">
    <a class="catoButton" onclick="javascript:history.back()">&laquo; Previous</a>
</div>

<div th:fragment="container" class="container">

</div>

<div th:fragment="footer">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a th:href="@{/}">Home</a></li>
            <li class="list-inline-item"><a th:href="@{/about}">About</a></li>
            <li class="list-inline-item"><a th:href="@{/contact}">Contact</a></li>
        </ul>
        <p class="copyright">&copy; 2021 HeartCoded</p>
    </footer>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>