a.nav-link{
    color: ghostwhite;
}

.cato-edit-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.cato-option-row {
    margin-top: 8%;
}

.cato-ul {
    list-style-type: none;
}

#cato-delete-link {
    color: #fc0303;
}

#cato-delete-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #d60000;
}

.pointer {
    cursor: pointer;
}

.cato-hyperlink {
    font-size: 1rem;
}

/*contains general layout for the Modal*/
/*the modal backdrop is the standard grey that greys out the rest of the site, dont change the z-index*/
.modal-backdrop {
    z-index: 500;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-body {
    font-size: 18px;
}

#modalSpan {
    font-size: 24px;
    font-weight: bold;
}

#ModalYesButton {
    background-color: red;
    border-color: red;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*contains general layout for top navigation bar*/
.topnavbar {
    display: flex;
    position: relative;
    background-color: #e8ffef;
    justify-content: flex-start;
    height: 72px;
}

.topnavbar a {
    color: black;
    padding: 14px 16px;
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnavbar #menuIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.topnavbar a.notificationIcon {
    display: block;
    color: black;
    width: 55px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid lightgrey;
    transition: 0.3s;
}

.topnavbar a.notificationIcon:hover {
    background-color: #cafad9;
}

.topnavbar a.profileIcon {
    display: block;
    color: black;
    width: 55px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid lightgrey;
    transition: 0.3s;
}

.topnavbar a.profileIcon:hover {
    background-color: #cafad9;
}

.topnavbar #main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
}

.topnavbar #homeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnavbar #home {
    color: #303c42;
    font-family: "Georgia i";
    font-size: 30px;
}

.profileIcon {
    width: 90px;
    padding: 10px 40px;
    align-self: center;
}

/*contains layout for the profile dropdown*/
.profile-dropdown-content {
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 0;
    transition: 0.3s;
    background-color: #e8ffef;
    display: none;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    list-style-type: none;
}

.profile-dropdown-content li a {
    min-width: 100px;
    height: 10px;
    font-size: 16px;
    text-align-all: left;
    padding: 0 0;
}

.profile-dropdown-content li:hover {
    background-color: #cafad9;
    color: ghostwhite;
}

/*contains layout for the notification dropdown*/
.notification-dropdown-content {
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 0;
    transition: 0.3s;
    background-color: #e8ffef;
    display: none;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    list-style-type: none;
    z-index: 1;
}

.notification-dropdown-content tr{
    padding: 0 0;
    border: solid #a7a7a7 1px;
}

.notification-dropdown-content td a {
    margin: 30px 10px;
    padding: 0 0;
}

.notification-dropdown-content td {
    max-width: 200px;
    height: 10px;
    font-size: 16px;
    text-align-all: left;
    padding: 0 0;
}

.notification-dropdown-content .notAssignedIcon {
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.notification-dropdown-content .circle-name-cell {
    vertical-align: bottom;
}

.notification-dropdown-content .circle-name-cell a {
    font-size: smaller;
    font-style: italic;
    color: #8d8d8d;
}

.notification-dropdown-content tr:hover {
    background-color: #cafad9;
}

/*!*contains general layout for side navigation bar*!*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e8ffef;
    overflow-x: hidden;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.sidenav a {
    border-bottom: 1px solid lightgrey;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: left;
    font-size: 16px;
}

.sidenav a:hover {
    background-color: #cafad9;
    color: black;
}

.nav-circle a {
    font-size: 14px;
    margin-left: 40px;
}

.sidenav .closebtn {
    display: flex;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    border-bottom: none;
}

.sidenav .closebtn:hover {
    background-color: transparent;
}

#hamburger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
}

/*contains design choices for breadcrumbs bar*/
.breadCrumbsBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.previousButton {
    padding: 10px 10px;
}

/*zorgt dat alle breadcrumbs achter elkaar komen te staan*/
.breadCrumbs li {
    display: inline;
}

/*zorgt dat tussen iedere link een slash komt te staan*/
.breadCrumbs li+li:before {
    padding: 2px;
    color: black;
    content: "/\00a0";
}

/*contains design choices for all buttons*/
.catoButton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

.catoButton:hover {
    text-decoration: none;
    background-color: #cafad9;
    color: black;
    cursor: pointer;
}

.catoButtonSmall {
    font-size: small;
    text-decoration: none;
    display: inline-block;
    padding: 2px 4px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

.catoButtonSmall:hover {
    text-decoration: none;
    background-color: #cafad9;
    color: black;
    cursor: pointer;
}

.catoButton-logIn{
    text-decoration: none;
    display: inline-block;
    padding: 0px 16px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

.catoButton-logIn:hover {
    text-decoration: none;
    background-color: #cafad9;
    color: black;
    cursor: pointer;
}

.custom-file-label {
    border: 1px solid black;
}

.custom-file-label::after {
    background-color: ghostwhite;
}

.custom-file-input:focus~.custom-file-label {
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(202, 250, 217, 1);
}

.catoYesWarningButton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: ghostwhite;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
}

.catoYesWarningButton:hover {
    background-color: darkred;
    border: 1px solid darkred;
}

.catoYesWarningButton a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: ghostwhite;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
}

.catoYesWarningButton:hover a {
    background-color: darkred;
    border: 1px solid darkred;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #376B47;
    border: 1px solid #376B47;
}

.custom-switch .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(202, 250, 217, 0.98);
}

.cato-radio {
    list-style-type: none;
    padding-left: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #376B47;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
    border-radius: 50%;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(202, 250, 217, 1);
}

#pp-edit-button {
    padding-left: 40px;
}

button {
    padding: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*contains layout for columns on about page*/
.flex-column {
    float: left;
    padding: 10px;
}

#aboutContainer {
    display: flex;
}

.aboutHeader {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

/*contains general layout for content container*/
html, body {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

.container {
    width: 80vw;
    padding: 30px 20px;
    flex: 1;
}

/*contains general layout for profile page*/
.profileInfoBar {
    display: flex;
}

.profile-information {
    display: flex;
    flex-direction: column;
    min-height: 210px;
    justify-content: space-between;
    padding-right: 100px;
}

.stackedHeaderAndInfo {
    display: flex;
    flex-direction: column;
}

#overview-circles {
    width: 30%;
    padding-top: 0;
    border-left: 1px solid lightgrey;
}

.profile-container {
    float: left;
    margin-left: 50px;
}

.profile-picture {
    width: auto;
    min-height: 175px;
    max-width: 250px;
    max-height: 210px;
    margin-right: 50px;
    box-shadow: 0 0 11px rgba(33,33,33,.4);
    border-radius: 4px;
    object-fit: cover;
}

.profile-picture-edit-container {
    position: relative;
    width: 150px;
    max-height: 189px;
}

.profile-picture-edit {
    height: auto;
    max-height: 155px;
    max-width:100%;
    margin:auto;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0 0 11px rgba(33,33,33,.4);
    border-radius: 4px;
    object-fit: contain;
}

.remove-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.profile-picture-edit-container:hover .profile-picture-edit {
    opacity: 0.3;
}

.profile-picture-edit-container:hover .remove-button {
    opacity: 1;
}

.profile-picture-box {
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-page-box {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.profile-edit-save-cancel-buttons {
    margin-top: 35px;
    float:right;
}

/*contains general layout for all tables*/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-style: hidden;
}

.general-table-layout {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fafafa;
    height: fit-content;
    list-style-type: none;
}

.general-table-layout br {
    display: none;
}

.table-header {
    padding-left: 10px;
    padding-top: 10px;
}

.iconheader {
    width: 133px;
}

td {
    padding: 1rem;
    word-wrap: break-word;
}

td a {
    font-size: 14px;
}

tr:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: #f5f5f5;
}

tr {
    padding: 1rem;
    background-color: transparent;
}

.tr-plain {
    background-color: transparent;
    padding: 0;
}

.tr-plain:hover {
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    border-bottom: 1px solid lightgrey;
}

.cato-table {
    width: 50%;
    padding-top: 60px;
}

.cato-table br {
    display: none;
}

/*contains general layout for edit and delete images*/
.edit {
    text-align: center;
}

.edit img {
    height: 20px;
    width: 20px;
}

.delete {
    text-align: center;
}

.delete img {
    height: 20px;
    width: 20px;
}

/*contains general layout for all titles*/
h1 {
    padding: 10px 0 10px 0;
    font-size: 30px;
}

h1 img {
    padding-bottom: 10px;
    height: 30px;
    width: 30px;
}

h1 a {
    font-size: 14px;
}

h5 a {
    font-size: 14px;
    padding-right: 10px;
}

/*contains general layout for footer*/
.catoFooter {
    margin-top: auto;
    position: relative;
    bottom: -35px;
    width: 100%;
}

.footerWave {
    bottom: -72px;
    position: relative;
    margin-top: -85px;
}

footer {
    margin-top: auto;
    position: relative;
    z-index: 100;
    bottom: 10px;
    width: 100%;
}

footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer li {
    padding: 0 10px;
}

footer .copyright {
    margin-top:5px;
    text-align: center;
    font-size: 13px;
    color: #000d96;
    margin-bottom: 0;
}

/*contains general layout for homepage*/
.form-circle {
    width: 30%;
    display: block;
    margin: auto;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.logotext p {
    font-family: "Georgia i";
    font-size: 50px;
    color: #303c42;
    text-decoration: none;
}

.logotext {
    text-align: center;
}

.logintext {
    text-align: center;
}

.home-page {
    display: flex;
    flex-flow: row;
}

.home-page-text {
    width: 50%;
}

.home-page-text-wide {
    width: 100%;
}

/*contains general layout for task details*/
.card-body {
    width: 50%;
    word-wrap: break-word;
}

/*contains general layout for an error*/
.error {
    color: red;
}

/*contains layout for the circle overview page*/
.cato-three-circles-placing {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.circle-overview-circle-banner {
    width: 30%;
    min-height: 150px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: black;
    background-color: #fafafa;
    text-align: center;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.circle-overview-circle-banner:hover {
    background-color: #cafad9;
    cursor: pointer;
}

.co-member-pictures {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.co-box {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-left: 58px;
}

.circle-header-key {
    padding-right: 10px;
}

.circle-header-key i {
    font-size: 23px;
}

/*contains layout for circle dashboard*/
.gd-circlemembers {
    display: block;
    width: 250px;
    padding-right: 50px;
    border-radius: 4px;
}

.gd-circlemembers td {
    padding: 7px;
}

#gd-tasklist {
    width: 50%;
    display: block;
    word-break: break-word;
}

#task-description {
    width: 40%;
}

.circle-photo {
    width: auto;
    height: 105px;
    width: 105px;
    box-shadow: 0 0 11px rgba(33,33,33,.4);
    border-radius: 4px;
    object-fit: cover;
}

.circle-photo-box {
    display: flex;
    flex-flow: row;
}

.circle-dashboard-title {
    margin: 0;
    align-self: center;
}

.circle-members-box {
    min-width: 270px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fafafa;
    padding: 5px;
}

.circle-members-grid {
    padding-left: 5px;
    padding-bottom: 10px;
    display: inline-flex;
    flex-flow: row wrap;
}

.member-pictures-container {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-pictures {
    min-height: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

.admin-pictures {
    width: 60px;
    border-radius: 4px;
    object-fit: cover;
    border: 4px solid cadetblue;
}

.member-name-under-picture-box {
    font-size: small;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #a7a7a7;
    display: flex;
    flex-direction: row;
}

.priorityBanner {
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#taskListByEndDate {
    display: none;
}

.date-light-grey {
    color: #a7a7a7;
}

.taskList-buttons {
    display: flex;
    float: right;
    gap: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: flex-end;
}

.taskList-header {
    float: left;
}

#sortOnEndDateBtn,
#sortOnPriorityBtn{
    justify-self: flex-end;
}

/*contains general layout for a form*/
.cato-form {
    width: 50%;
}

.cato-text-field {
    padding: 5px 10px !important;
    border: none;
    border-bottom: 1px solid black;
}

/*contains layout for a circle form*/
#circleName {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid black;
}

.custom-select {
    width: 50%;
}

/*contains layout for circle settings*/
#circle-options-header {
    padding: 10px 0 10px 0;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

#group-settings-table {
    width: 50%;
}

#group-settings-name {
    width: 40%;
}

/*contains layout for site admin pages*/
.site-admin-dashboard-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.siteAdminLinks a{
    font-size: medium;
}

.search-form {
    width: 90%;
    margin: auto;
}

.keywordsBox {
    background-color: #fafafa;
}

.last-three-circle-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.font-hidden {
    color: transparent;
}
