a.nav-link{
    color: ghostwhite;
}

body {
    background: url("images/layered-waves-haikei.svg") no-repeat top left;
    background-size: cover;
}

/*contains general layout for top navigation bar*/
.topnavbar {
    display: flex;
    flex-flow: wrap;
    position: relative;
    background-color: #e8ffef;
}

.topnavbar #profileLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 58px;
    right: 0;
    width: fit-content;
    background-color: #333;
    transition: 0.3s;
}

.topnavbar a {
    color: white;
    padding: 14px 16px;
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    display: flex;

}

.topnavbar a.profileIcon {
    display: flex;
    color: black;
    width: 72px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid lightgrey;
    transition: 0.3s;
}

.topnavbar a.profileIcon:hover {
    background-color: #cafad9;
}

.topnavbar a:hover {
    color: white;
}

.topnavbar #main {
    transition: margin-left .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
}

.topnavbar #home {
    margin-right: auto;
    color: #303c42;
    font-family: "Georgia i";
    font-size: 30px;
}


/*contains general layout for side navigation bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.9;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #818181;
    color: black;
}

.sidenav .closebtn {
    display: flex;
    padding: 14px 16px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*contains general layout for content container*/
.container {
    width: 80vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 120px - 73px);
}

/*contains general layout for all tables*/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.edit {
    text-align: center;
}

.delete {
    text-align: center;
}

/*contains general layout for all titles*/
h1 {
    padding: 10px;
}

/*contains general layout for footer*/
footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    color: black;
}

footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul a:hover {
    opacity: 1;
}

footer li {
    padding: 0 10px;
}

footer .copyright {
    margin-top:5px;
    text-align: center;
    font-size: 13px;
    color: #000d96;
    margin-bottom: 0;
}

button {
    padding: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group {
    height: 200px;
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
}

#login-submit {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.card-body {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    width: 50%;
}

