a.nav-link{
    color: ghostwhite;
}


/*.loginbody {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.site-admin-dashboard-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.cato-edit-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.cato-option-row {
    margin-top: 8%;
}

.cato-ul {
    list-style-type: none;
}

#cato-delete-link {
    color: red;
}

/*contains general layout for top navigation bar*/
.topnavbar {
    display: flex;
    /*flex-flow: wrap;*/
    position: relative;
    background-color: #e8ffef;
    justify-content: flex-start;
    height: 72px;
}

.topnavbar #profileLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 58px;
    right: 0;
    width: fit-content;
    background-color: #333;
    transition: 0.3s;
}

.topnavbar a {
    color: white;
    padding: 14px 16px;
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

.topnavbar #profileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.topnavbar a.profileIcon {
    display: block;
    color: black;
    width: 55px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid lightgrey;
    transition: 0.3s;
}

.topnavbar a.profileIcon:hover {
    background-color: #cafad9;
}

.topnavbar a:hover {
    color: white;
}

.topnavbar #main {
    transition: margin-left .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
}

.topnavbar #homeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnavbar #home {
    color: #303c42;
    font-family: "Georgia i";
    font-size: 30px;
}


/*contains general layout for side navigation bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.9;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #818181;
    color: black;
}

.sidenav .closebtn {
    display: flex;
    padding: 14px 16px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*contains design choices for breadcrumbs bar*/
.breadCrumbsBar {
    padding: 10px 10px;
}

/*contains design choices for all buttons*/
.catoButton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

.catoButton:hover {
    text-decoration: none;
    background-color: #cafad9;
    color: black;
    cursor: pointer;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #cafad9;
}

/*contains layout for columns on about page*/
.flex-column {
    float: left;
    padding: 10px;
}

#aboutContainer {
    display: flex;

}

.aboutHeader {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

/*contains general layout for content container*/
html, body {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

.container {
    width: 80vw;
    margin: 0 auto;
    padding: 30px 20px;
    flex: 1;
}

.profileInfoBar {
    display: flex;
}

.profileIcon {
    width: 90px;
    padding: 10px 40px;
    align-self: center;
}

.stackedHeaderAndInfo {
    display: flex;
    flex-direction: column;
}


/*contains general layout for all tables*/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-style: hidden;
}

/*#tasklisttable {*/
/*    width: 100%;*/
/*}*/

.iconheader {
    width: 133px;
}

td {
    padding: 1rem;
}

td a {
    font-size: 14px;
}

tr:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: #f5f5f5;
}

tr {
    padding: 1rem;
    background-color: transparent;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    border-bottom: 1px solid lightgrey;
}

.edit {
    text-align: center;
}

.edit img {
    height: 20px;
    width: 20px;
}

.delete {
    text-align: center;
}

.delete img {
    height: 20px;
    width: 20px;
}

/*contains general layout for all titles*/
h1 {
    padding: 10px 0 10px 0;
    font-size: 30px;
}

h1 img {
    padding-bottom: 10px;
    height: 30px;
    width: 30px;
}

h1 a {
    font-size: 14px;
}

h5 a {
    font-size: 14px;
}

/*contains general layout for footer*/
.catoFooter {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerWave {
    bottom: -72px;
    position: relative;
    margin-top: -85px;
}

footer {
    margin-top: auto;
    position: relative;
    z-index: 100;
    bottom: 10px;
    width: 100%;
}

footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer li {
    padding: 0 10px;
}

footer .copyright {
    margin-top:5px;
    text-align: center;
    font-size: 13px;
    color: #000d96;
    margin-bottom: 0;
}

button {
    padding: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group {
    width: 30%;
    display: block;
    margin: auto;
}


input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.card-body {
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);*/
    width: 50%;
    word-wrap: break-word;
}

.logotext p {
    font-family: "Georgia i";
    font-size: 50px;
    color: #303c42;
    text-decoration: none;
}

.logotext {
    text-align: center;
}

.logintext {
    text-align: center;
}

.cato-table {
    width: 50%;
}

.group-overview {
    width: 50%;
}

.group-overview-dashboard {
    width: 30%
}

.client-overview {
    width: 50%;
}

.client-overview-dashboard {
    width: 20%;
}

.group-settings {
    width: 50%;
}

.user-overview {
    width: 30%;
}

.error {
    color: red;
}

.cd-page {
    display: flex;
    flex-flow: row;
}

.cd-groupmember {
    width: 33%;
    padding-right: 100px;
}

.cd-tasklist {
    width: 40%;
}

.title-taskdetails {
    width: 50%;
}

.cato-form {
    width: 50%;
}

#groupName {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid black;
}

.cato-text-field {
    padding: 5px 10px !important;
    border: none;
    border-bottom: 1px solid black;
}

.custom-select {
    width: 50%;
}

.cato-radio {
    list-style-type: none;
    padding-left: 0;
}

.home-page {
    display: flex;
    flex-flow: row;
}

.home-page-text {
    width: 50%;
}
