<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: breadCrumbsBar"></div>

<div class="container">
  <h1>About us:</h1>

  <p>
    some nice statistics<br>
    mission & vision of HeartCoded<br>
    origin of project<br>

  </p>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>