<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
  <meta charset="UTF-8">
  <title>Edit care circle</title>
</head>
<body>
<div id="main-body">
  <div th:replace="fragments/general :: navbar"></div>
  <div class="breadCrumbsBar">
    <div th:replace="fragments/general :: previousButton"></div>
    <div class="breadCrumbs">
      <li><a th:href="@{/}">Home</a></li>
      <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdminDashboard}">Site Admin Dashboard</a></li>
      <li><a th:href="@{/circles}">Care Circles</a></li>
      <li><a th:href="@{/circles/{circleId}(circleId=${thisCircle.circleId})}"><span th:text="${thisCircle.circleName}"></span></a></li>
      <li><a th:href="@{/circles/options/{circleId}(circleId=${thisCircle.circleId})}">Settings</a></li>
      <li>Edit Care Circle</li>
    </div>
  </div>

  <div class="container">
    <h1>Edit Care Circle</h1>
    <form class="cato-form" th:action="@{/circles/options/edit/{circleId}(circleId=${thisCircle.circleId})}" method="post" th:object="${thisCircle}" enctype="multipart/form-data">
      <div th:unless="${error} == '' ">
        <p th:text="${error}" class="alert alert-danger"/>
      </div>
      <div>
        <input type="text" placeholder="Circle name" id="circleName" required pattern=".*\S+.*"
               oninvalid="this.setCustomValidity('Name of circle cannot be empty')"
               oninput="this.setCustomValidity('')"
               th:field="*{circleName}">
      </div>
        <br>
      <div class="custom-file mb-3" >
        <input class="custom-file-input" type="file" th:object="${circlePhotoInput}" name="circlePhotoInput" id="circlePhotoInput" accept="image/png, image/jpeg" />
        <label class="custom-file-label" for="circlePhotoInput">Choose Care Circle photo</label>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </div>
      <br><br>
      <div>
        <button type="submit" class="catoButton">Save</button>
        <a type="button" th:href="@{/circles/options/{circleId}(circleId=${circleId})}" class="catoButton">Cancel</a>
      </div>
    </form>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<script>
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
</body>
</html>