<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Circle dashboard</title>
</head>
<body>
<div id="main-body">
    <div th:replace="fragments/general :: navbar"></div>
    <div class="breadCrumbsBar">
        <div th:replace="fragments/general :: previousButton"></div>
        <div class="breadCrumbs">
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdminDashboard}">Site Admin Dashboard</a></li>
            <li><a th:href="@{/circles}">Care Circles</a></li>
            <li><span th:text="${thisCircle.circleName}"></span></li>
        </div>
    </div>

    <div class="container">
        <h1><span th:text="${thisCircle.circleName}"></span></h1>
        <br>
        <div class="cato-circle-dashboard-flex">
            <div class="gd-circlemembers">
                <div class="gd-clients">
                    <h5 class="gd-header">Clients</h5>
                    <table>
                        <tr th:each="thisClient : ${allClients}">
                            <td><span th:if="${thisClient.admin}"><i class="fa fa-key"></i></span>
                                <span th:text="${thisClient.admin} ? '' : '&emsp;'"></span>
                                <span><a th:href="@{/profilepage/{userId}(userId=${thisClient.userId})}" th:text="${thisClient.userName}"></a></span></td>
                        </tr>
                    </table>
                </div>
                <br>
                <div class="gd-caregivers">
                    <h5 class="gd-header">Caregivers</h5>
                    <table>
                        <tr th:each="thisCaregiver : ${allCaregivers}" >

                            <td><span th:if="${thisCaregiver.admin}"><i class="fa fa-key"></i></span>
                                <span th:text="${thisCaregiver.admin} ? '' : '&emsp;'"></span>
                                <span><a th:href="@{/profilepage/{userId}(userId=${thisCaregiver.userId})}" th:text="${thisCaregiver.userName}"></a></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="gd-tasklist">
                <h5 class="gd-header">Task List</h5>
                <table>
                    <tr th:each="task : ${taskList}">
                        <td id="task-description">
                            <a th:href="@{/circles/{circleId}/taskLists/{taskListId}/{taskId} (circleId=${circleId}, taskListId=${taskListId}, taskId=${task.taskId})}" th:text="${task.description}" title="show task details"></a>
                        </td>
                        <td>
                            <span th:text="${task.priority}"></span>
                            <span th:text="priority"></span>
                        </td>
                        <td title="assigned to">
                            <span th:if="${task.assignedUserName == ''}">
                                <a th:href="@{/circles/{circleId}/task/{taskId}/assign(taskId=${task.taskId}, circleId=${circleId})}">Assign to me</a>
                            </span>
                            <span th:unless="${task.assignedUserName == ''}" th:text="${task.assignedUserName}"></span>
                        </td>
                        <td class="delete"><a th:href="@{'/task/delete/' + ${task.taskId}}"><img th:src="@{/css/images/checkmark-icon.svg}" height="20" width="20" title="Task completed"></a></td>
                    </tr>
                </table>
            </div>
            <br>
            <ul class="cato-ul">
                <li><a class="float-right" th:href="@{/circles/{circleId}/taskLists/{taskListId}/new(circleId=${circleId}, taskListId=${taskListId})}">Add new task</a></li>
                <li><br></li>
                <li th:if="${thisUserIsAdmin}"><hr></li>
                <li th:if="${thisUserIsAdmin}"><a th:href="@{/circles/options/{circleId}(circleId=${thisCircle.circleId})}">Circle settings</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>