<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/circleUpdateMember.css}">
  <title>Edit member</title>
</head>
<body>
<div id="main-body">
  <div th:replace="fragments/general :: navbar"></div>
  <div class="breadCrumbsBar">
    <div th:replace="fragments/general :: previousButton"></div>
    <div class="breadCrumbs">
        <li><a th:href="@{/}">Home</a></li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdminDashboard}">Site Admin Dashboard</a></li>
        <li><a th:href="@{/circles}">Care Circles</a></li>
        <li><a th:href="@{/circles/{circleId}(circleId=${circleId})}"><span th:text="${circle.circleName}"></span></a></li>
        <li><a th:href="@{/circles/options/{circleId}(circleId=${circleId})}">Settings</a></li>
        <li>Edit member</li>
    </div>
  </div>

  <div class="container">

    <div class="circle-update-member">
            <form th:action="@{/circles/options/{circleId}/updatemember/{userId}(circleId=${circleId}, userId=${userId})}" method="post" th:object="${member}">
                <div th:if="${#fields.hasErrors()}">
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="alert alert-danger" />
                </div>
                    <h1>Change role</h1>

                    <ul class="cato-radio">
                        <li th:each="role : ${member.circleRoleOptions}">
                            <input type="radio" th:field="${member.role}" th:value="${role}">
                            <label th:for="${#ids.prev('role')}" th:text="${role}"></label>
                        </li>
                    </ul>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="circleAdminSwitch" th:field="*{admin}">
                        <label class="custom-control-label" for="circleAdminSwitch">Circle admin</label>
                    </div>
                    <br>
                    <button type="submit" class="catoButton">Save</button>
                    <a type="button" th:href="@{/circles/options/{circleId}(circleId=${circleId})}" class="catoButton">Cancel</a>
            </form>
    </div>
</div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>