<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Circle dashboard</title>
</head>
<body>
<div id="main-body">
    <div th:replace="fragments/general :: navbar"></div>
    <div class="breadCrumbsBar">
        <div th:replace="fragments/general :: previousButton"></div>
        <div class="breadCrumbs">
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdminDashboard}">Site Admin Dashboard</a></li>
            <li><a th:href="@{/circles}">Care Circles</a></li>
            <li><span th:text="${thisCircle.circleName}"></span></li>
        </div>
    </div>

    <div class="container">
        <div class="circle-photo-box">
            <img th:unless="${circlePhoto} == ''" th:src="@{'data:image/jpeg;base64,'+ ${circlePhoto}}" class="circle-photo"/>
            <h1 class="circle-dashboard-title">&ensp;<span th:text="${thisCircle.circleName}"></span></h1>
        </div>
        <div th:if="${!error.equals('')}" class="alert alert-danger" th:text="${error}"></div>
        <br>
        <div class="cato-edit-flex">
            <div class="gd-circlemembers">
                <div class="circle-members-box">
                    <h5 class="table-header">Clients</h5>
                    <div class="circle-members-grid" th:each="client : ${photoClients}">
                        <div th:title="${client.userName}" th:onclick="|window.location.href='@{/profilepage/{userId}(userId=${client.userId})}'|" class="member-pictures-container pointer">
                            <div>
                                <div th:if="${client.admin}">
                                    <img th:unless="${client.profilePicture} == ''" th:src="@{'data:image/jpeg;base64,'+${client.profilePicture}}" class="admin-pictures"/>
                                </div>
                                <div  th:unless="${client.admin}">
                                    <img th:unless="${client.profilePicture} == ''" th:src="@{'data:image/jpeg;base64,'+${client.profilePicture}}" class="member-pictures"/>
                                </div>
                            </div>
                            <div class="member-name-under-picture-box">
                                <div class="member-name-box">
                                    <span th:text="${client.userName}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="circle-members-box">
                    <h5 class="table-header">Caregivers</h5>
                    <div class="circle-members-grid" th:each="thisCaregiver : ${photoCaregivers}">
                        <div th:title="${thisCaregiver.userName}" th:onclick="|window.location.href='@{/profilepage/{userId}(userId=${thisCaregiver.userId})}'|" class="member-pictures-container pointer">
                            <div>
                                <div  th:if="${thisCaregiver.admin}">
                                    <img th:unless="${thisCaregiver.profilePicture} == ''" th:src="@{'data:image/jpeg;base64,'+${thisCaregiver.profilePicture}}" class="admin-pictures"/>
                                </div>
                                <div  th:unless="${thisCaregiver.admin}">
                                    <img th:unless="${thisCaregiver.profilePicture} == ''" th:src="@{'data:image/jpeg;base64,'+${thisCaregiver.profilePicture}}" class="member-pictures"/>
                                </div>
                            </div>
                            <div class="member-name-under-picture-box">
                                <div class="member-name-box">
                                    <span th:text="${thisCaregiver.userName}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="general-table-layout" id="gd-tasklist">
                <div>
                    <div class="taskList-header">
                        <h5 class="table-header">Task List</h5>
                    </div>
                    <div class="taskList-buttons" th:unless="${taskListByEndDate.isEmpty()}">
                        <div><button id="sortOnPriorityBtn" class="catoButtonSmall" onclick="sortOnPriority()">Sort by priority</button></div>
                        <div><button id="sortOnEndDateBtn" class="catoButtonSmall" onclick="sortOnEndDate()">Sort by end date</button></div>
                    </div>
                </div>

                <div id="taskListByPriority">
                    <table>
                        <tr th:if="${taskList.isEmpty()}">
                            <td>There are no tasks yet, <a class="cato-hyperlink" th:href="@{/circles/{circleId}/taskLists/{taskListId}/new(circleId=${circleId}, taskListId=${taskListId})}">click here</a> to add a new task</td>
                        </tr>
                        <tr th:each="task : ${taskList}">
                            <td>
                                <div th:if="${task.priority.equals('High')}" title="Priority: High">
                                    <img th:src="@{/css/images/highPriority.png}" height="30" alt="High priority">
                                </div>
                                <div th:if="${task.priority.equals('Medium')}" title="Priority: Medium">
                                    <img th:src="@{/css/images/mediumPriority.png}" height="30" alt="Medium priority">
                                </div>
                                <div th:if="${task.priority.equals('Low')}" title="Priority: Low">
                                    <img th:src="@{/css/images/lowPriority.png}" height="30" alt="Low priority">
                                </div>
                            </td>
                            <td>
                                <div class="flex-column">
                                    <div>
                                        <a th:href="@{/circles/{circleId}/taskLists/{taskListId}/{taskId} (circleId=${circleId}, taskListId=${taskListId}, taskId=${task.taskId})}" th:text="${task.description}" title="Show task details"></a>
                                    </div>
                                    <div>
                                        <span class="date-light-grey" th:if="${task.endTime != null}" th:text="${#temporals.format(task.endTime, 'dd-MM-yyyy')}" th:title="'Due to ' + ${#temporals.format(task.endTime, 'dd-MM-yyyy')}"></span>
                                    </div>
                                </div>
                            </td>

                            <td>
                            <span th:if="${task.assignedUserName == ''}" title="Click here to take on this task">
                                <a th:href="@{/circles/{circleId}/task/{taskId}/assign(taskId=${task.taskId}, circleId=${circleId})}">Take on this task</a>
                            </span>
                                <span th:unless="${task.assignedUserName == ''}" th:text="${task.assignedUserName}" title="Assigned to"></span>
                            </td>
                            <td class="delete"><a th:href="@{'/task/delete/' + ${task.taskId}}"><img th:src="@{/css/images/checkmark-icon.svg}" height="20" width="20" title="Complete this task"></a></td>
                        </tr>
                    </table>
                </div>

                <div id="taskListByEndDate">
                    <table>
                        <tr th:if="${taskListByEndDate.isEmpty()}">
                            <td>There are no tasks yet, <a class="cato-hyperlink" th:href="@{/circles/{circleId}/taskLists/{taskListId}/new(circleId=${circleId}, taskListId=${taskListId})}">click here</a> to add a new task</td>
                        </tr>

                        <tr th:each="task : ${taskListByEndDate}">
                            <td>
                                <div th:if="${task.priority.equals('High')}" title="Priority: High">
                                    <img th:src="@{/css/images/highPriority.png}" height="30" alt="High priority">
                                </div>
                                <div th:if="${task.priority.equals('Medium')}" title="Priority: Medium">
                                    <img th:src="@{/css/images/mediumPriority.png}" height="30" alt="Medium priority">
                                </div>
                                <div th:if="${task.priority.equals('Low')}" title="Priority: Low">
                                    <img th:src="@{/css/images/lowPriority.png}" height="30" alt="Low priority">
                                </div>
                            </td>
                            <td>
                                <div class="flex-column">
                                    <div>
                                        <a th:href="@{/circles/{circleId}/taskLists/{taskListId}/{taskId} (circleId=${circleId}, taskListId=${taskListId}, taskId=${task.taskId})}" th:text="${task.description}" title="Show task details"></a>
                                    </div>
                                    <div>
                                        <span class="date-light-grey" th:if="${task.endTime != null}" th:text="${#temporals.format(task.endTime, 'dd-MM-yyyy')}" th:title="'Due to ' + ${#temporals.format(task.endTime, 'dd-MM-yyyy')}"></span>
                                    </div>
                                </div>
                            </td>
                            <td >
                            <span th:if="${task.assignedUserName == ''}" title="Click here to take on this task">
                                <a th:href="@{/circles/{circleId}/task/{taskId}/assign(taskId=${task.taskId}, circleId=${circleId})}">Take on this task</a>
                            </span>
                                <span th:unless="${task.assignedUserName == ''}" th:text="${task.assignedUserName}" title="Assigned to"></span>
                            </td>
                            <td class="delete"><a th:href="@{'/task/delete/' + ${task.taskId}}"><img th:src="@{/css/images/checkmark-icon.svg}" height="20" width="20" title="Complete this task"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <ul class="cato-ul">
                <li><a th:href="@{/circles/{circleId}/taskLists/{taskListId}/new(circleId=${circleId}, taskListId=${taskListId})}">Add new task</a></li>
                <li th:if="${thisUserIsAdmin || currentUserIsSiteAdmin}"><hr></li>
                <li th:if="${thisUserIsAdmin || currentUserIsSiteAdmin}"><a th:href="@{/circles/options/{circleId}(circleId=${thisCircle.circleId})}">Circle settings</a></li>
                <li><hr></li>
                <li><a id="cato-delete-link">Leave circle</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="leaveCircleModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Warning!</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to leave:</p>
            <span id="modalSpan" th:text="${thisCircle.circleName}"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="catoButton" id="noBtn">No</button>
            <a th:href="@{'/circles/options/{circleId}/delete/' + ${session.currentUserId}(circleId=${circleId})}"><button type="button" class="catoYesWarningButton" id="modalYesButton">Yes</button></a>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("leaveCircleModal");

    // Get the button that opens the modal
    var btn = document.getElementById("cato-delete-link");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // Get the button that closes the modal
    var noBtn = document.getElementById("noBtn");

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    noBtn.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    const priorityTarget = document.getElementById('taskListByPriority');
    const endDateTarget = document.getElementById('taskListByEndDate');

    function sortOnEndDate() {
        endDateTarget.style.display = "block";
        priorityTarget.style.display = "none";

    }

    function sortOnPriority() {
        endDateTarget.style.display = "none";
        priorityTarget.style.display = "block";
    }

    let msg = document.getElementById('highPriority').value;
    let g = document.createElement('highPriorityIcon');
    g.innerHTML = '&#x2B22;';
    let z = g.innerHTML;

    document.getElementById('highPriority').value = msg + '' + z;

    delete(g);

</script>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>