<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Group dashboard</title>
</head>
<body>
<div id="main-body">
    <div th:replace="fragments/general :: navbar"></div>
    <div class="breadCrumbsBar">
        <div th:replace="fragments/general :: previousButton"></div>
        <div class="breadCrumbs">
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdminDashboard}">Site Admin Dashboard</a></li>
            <li><a th:href="@{/groups}">Groups</a></li>
            <li><span th:text="${thisGroup.groupName}"></span></li>
        </div>
    </div>

    <div class="container">
        <h1>Group dashboard for <span th:text="${thisGroup.groupName}"></span></h1>
        <br>
        <div class="cato-group-dashboard-flex">
            <div class="gd-groupmember">
                <h5>Group members</h5>
                <hr>
                <table>
                    <tr th:each="thisMember : ${allMembersByGroupId}" >

                        <td><span th:if="${thisMember.admin}"><i class="fa fa-key"></i></span>
                            <span th:text="${thisMember.admin} ? '' : '&emsp;'"></span>
                            <span><a th:href="@{/profilepage/{userId}(userId=${thisMember.userId})}" th:text="${thisMember.userName}"></a></span></td>

                        </td><td th:text="${thisMember.role}"></td>
                    </tr>
                </table>
            </div>
            <div class="gd-tasklist">
                <h5>Task List</h5>
                <hr>
                <table>
                    <tr th:each="task : ${taskList}">
                        <td><a th:href="@{/groups/{groupId}/taskLists/{taskListId}/{taskId} (groupId=${groupId}, taskListId=${taskListId}, taskId=${task.taskId})}" th:text="${task.description}" title="show task details"></a></td>
                        <td>
                            <span th:text="${task.priority}"></span>
                            <span th:text="priority"></span>
                        </td>


                        <td title="assigned to">
                            <span th:if="${task.assignedUserName == ''}">
                                <a th:href="@{/groups/{groupId}/task/{taskId}/assign(taskId=${task.taskId}, groupId=${groupId})}">Assign to me</a>
                            </span>
                            <span th:unless="${task.assignedUserName == ''}" th:text="${task.assignedUserName}"></span>
                        </td>


                        <td class="delete"><a th:href="@{'/task/delete/' + ${task.taskId}}"><img th:src="@{/css/images/checkmark-icon.svg}" height="20" width="20" title="Task completed"></a></td>
                    </tr>
                </table>
            </div>


            <div>
                <ul class="cato-ul">
                    <li><a class="float-right" th:href="@{/groups/{groupId}/taskLists/{taskListId}/new(groupId=${groupId}, taskListId=${taskListId})}">Add new task</a></li>
                    <li><br></li>
                    <li th:if="${thisUserIsAdmin}"><hr></li>
                    <li th:if="${thisUserIsAdmin}"><a th:href="@{/groups/options/{groupId}(groupId=${thisGroup.groupId})}">group settings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>