<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
  <meta charset="UTF-8">
  <title>add a groupmember</title>
</head>

<script>

</script>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: breadCrumbsBar"></div>

<div class="container">
  <div class="group-edit-member">
    <form class="cato-form" th:action="@{/groups/options/{groupId}/editmember/(groupId=${thisGroup.groupId})}" method="get" th:object="${makeGroupHasUsers}">
      <div>
        <h1>Add a new member</h1>
        <label>User e-mail</label>
        <input class="cato-text-field" type="text" placeholder="E-mail adress"  name="email" required>
        <span th:text="${validEntry}"></span>
        <div th:if="${#fields.hasErrors()}">
          <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
        </div>
      </div>
      <br>
      <div>
        <label>Select a user role</label>
        <ul class="cato-radio">
          <li th:each="userRole : ${makeGroupHasUsers.groupRoleOptions}">
            <input type="radio" th:field="${makeGroupHasUsers.userRole}" th:value="${userRole}" required>
            <label th:for="${#ids.prev('userRole')}" th:text="${userRole}"></label>
          </li>
        </ul>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="groupAdminSwitch" th:field="*{admin}">
        <label class="custom-control-label" for="groupAdminSwitch">Group admin</label>
      </div>
      <br>
      <div>
        <button type="submit" class="catoButton">Save</button>
        <a type="button" th:href="@{/groups/options/{groupId}(groupId=${groupId})}" class="catoButton">Cancel</a>
      </div>
    </form>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>