<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
  <meta charset="UTF-8">
  <title>Add a group member</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div class="breadCrumbsBar">
  <div th:replace="fragments/general :: previousButton"></div>
  <div class="breadCrumbs">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/groups}">Groups</a></li>
    <li><a th:href="@{/groups/{groupId}(groupId=${thisGroup.groupId})}"><span th:text="${thisGroup.groupName}"></span></a></li>
    <li><a th:href="@{/groups/options/{groupId}(groupId=${thisGroup.groupId})}">Options</a></li>
    <li>Add member</li>
  </div>
</div>

<div class="container">
  <div class="group-edit-member">
    <form class="cato-form" th:action="@{/groups/options/{groupId}/addmember/(groupId=${thisGroup.groupId})}" method="get" th:object="${addMember}">
      <div>
        <h1>Add a new member</h1>
        <label>User e-mail</label>
        <input class="cato-text-field" type="text" placeholder="E-mail adress"  name="email" required>
        <div th:if="${#fields.hasErrors()}">
          <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="alert alert-danger" />
        </div>
      </div>
      <br>
      <div>
        <label>Select a user role</label>
        <ul class="cato-radio">
          <li th:each="role : ${addMember.groupRoleOptions}">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" th:field="${addMember.role}" th:value="${role}" required>
              <label class="custom-control-label" th:for="${#ids.prev('role')}" th:text="${role}"></label>
            </div>
          </li>
        </ul>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="groupAdminSwitch" th:field="*{admin}">
        <label class="custom-control-label" for="groupAdminSwitch">Group admin</label>
      </div>
      <br>
      <div>
        <button type="submit" class="catoButton">Save</button>
        <a type="button" th:href="@{/groups/options/{groupId}(groupId=${groupId})}" class="catoButton">Cancel</a>
      </div>
    </form>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>