<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/groupUpdateMember.css}">
  <title>Title</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: breadCrumbsBar"></div>

<div class="container">

  <div class="group-update-member">
    <form th:action="@{/groups/options/{groupId}/updatemember/{userId}(groupId=${groupId}, userId=${userId})}" method="post" th:object="${groupHasUser}">
      <input type="hidden" th:field="*{user}">
      <input type="hidden" th:field="*{group}">

      <div th:if="${#fields.hasErrors()}">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
      </div>

      <h1>Change role</h1>

      <ul>
        <li th:each="userRole : ${groupHasUser.groupRoleOptions}">
          <input type="radio" th:field="${groupHasUser.userRole}" th:value="${userRole}">
          <label th:for="${userRole}" th:text="${userRole}"></label>
        </li>
      </ul>
      <br>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="groupAdminSwitch" th:field="*{admin}">
        <label class="custom-control-label" for="groupAdminSwitch">Group admin</label>
      </div>
      <br>
      <button type="submit" class="catoButton">Save</button>
      <a type="button" th:href="@{/groups/options/{groupId}(groupId=${groupId})}" class="catoButton">Cancel</a>

    </form>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>