<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of my groups</title>
</head>
<body>
<h1>Overview of my groups</h1>
<table>
    <tr>
        <th>Group name</th>
    </tr>
    <tr th:each="group : ${allGroups}">
        <td th:text="${group.groupName}"></td>
        <td><a th:href="@{'/groups/delete/' + ${group.groupId}}">Delete group</a></td>
    </tr>
</table>
<p>
    <a th:href="@{/groups/new}">Add a new group</a>
</p>
</body>
</html>