<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
  <meta charset="UTF-8">
  <title>add a groupmember</title>
</head>

<script>

</script>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <form th:action="@{/groups/options/{groupId}/editmember/(groupId=${thisGroup.groupId})}" method="get" th:object="${makeGroupHasUsers}">
    <div>
      <label>User email</label>

      <input type="text" name="email" required pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\b"
             oninvalid="this.setCustomValidity('Please enter a valid email address')"
             oninput="this.setCustomValidity('')">
      <span th:text="${exception}"></span>
    </div>
    <div>
      <label for="userRole">Role</label>
      <select th:field="*{userRole}">
              <option id="userRole" th:each="role : ${groupUserRole.groupRoleOptions}" th:value="${role}" th:text="${role}"></option>
      </select>
    </div>
      <div>
      <button type="submit" class="btn btn-primary">Add member</button>
    </div>
  </form>
  <a th:href="@{/groups/options/{groupId}(groupId=${thisGroup.groupId})}">Back</a>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>