<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Group settings</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">

    <h1>
        <span th:text="${thisGroup.groupName}"></span>
        <a th:href="@{/groups/options/edit/{groupId}(groupId=${thisGroup.groupId})}"><img th:src="@{/css/images/edit-icon.svg}" height="15" width="15" title="edit group name"></a>
        <a th:href="@{'/groups/delete/' + ${thisGroup.groupId}}"><img th:src="@{/css/images/delete-icon.svg}" height="15" width="15" title="delete group"></a></td>
    </h1>
    <br>
    <div class="cato-table">
        <h5>Group members<a class="float-right" th:href="@{/groups/options/{groupId}/editmember(groupId=${thisGroup.groupId})}">Add new group member</a>
        </h5>
        <hr>
        <table>
            <tr th:each="thisGroupHasUser : ${allGroupHasUsersByGroupId}" >
                <td th:text="${thisGroupHasUser.user.name}"></td>
                <td width="40%">
                    <span class="float-left" th:text="${thisGroupHasUser.userRole}"></span>
                    <a class="float-right" th:href="@{'/groups/options/{groupId}/updatemember/' + ${thisGroupHasUser.user.userId}(groupId=${thisGroup.groupId})}"><img th:src="@{/css/images/edit-icon.svg}" height="20" width="20" title="edit role"></a></td>
                <td class="delete"><a th:href="@{'/groups/options/{groupId}/delete/' + ${thisGroupHasUser.user.userId}(groupId=${thisGroup.groupId})}"><img th:src="@{/css/images/delete-icon.svg}" height="20" width="20" title="remove user from group"></a></td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>