<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div th:insert="fragments/general :: breadCrumbsBar"></div>

<div class="container">
    <div class="aboutHeader">
        <h1>Welcome to Care Together</h1>
    </div>
    <br>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et molestie orci, eget feugiat ex. Ut id enim efficitur, imperdiet augue sed, scelerisque arcu. Curabitur urna libero, ultricies quis lacinia sodales, tempor ac ipsum. Etiam accumsan bibendum porttitor. Ut vitae ipsum risus. Praesent mattis pulvinar felis nec varius. In eget ullamcorper quam. Donec consectetur nunc at finibus accumsan.</p>
        <p>Vivamus nisi augue, lacinia venenatis lectus ut, malesuada porttitor ex. Integer condimentum convallis est placerat fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent aliquam porta blandit. Nunc at quam vel dolor ornare lacinia. Proin sed augue at lacus sagittis rhoncus sit amet et est. Cras nec orci finibus lacus rhoncus bibendum. Suspendisse potenti.</p>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>