<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Profile page</title>
</head>
<body>
<div id="main-body">
    <div th:replace="fragments/general :: navbar"></div>
    <div class="breadCrumbsBar">
        <div th:replace="fragments/general :: previousButton"></div>
        <div class="breadCrumbs">
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdminDashboard}">Site Admin Dashboard</a></li>
            <li>Profile</li>
        </div>
    </div>

    <div class="container">
        <h1><span th:text="${user.name}"></span></h1>
        <br>
        <div class="profileInfoBar">
            <div class="profileIcon">
                <i class="fa fa-user"></i>
            </div>
            <div class="stackedHeaderAndInfo">
                <span style="color: grey">Name</span>
                <h5><span th:text="${user.name}"></span></h5>
            </div>
        </div>
        <br>
        <div class="profileInfoBar">
            <div class="profileIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg>
            </div>
            <div class="stackedHeaderAndInfo">
                <span style="color: grey">Email</span>
                <h5><span th:text="${user.email}"></span></h5>
            </div>
        </div>
        <br>
        <a th:href="@{'/users/edit/' + ${user.userId}}"><button class="catoButton">Edit</button></a>

    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>