<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Site admin dashboard</title>
</head>
<body>

<div id="main-body">
    <div th:replace="fragments/general :: navbar"></div>
    <div th:replace="fragments/general :: previousButton"></div>

    <div class="container">
        <h1>Site admin dashboard</h1>
        <div>
            <p>Total number of users: <span th:text="${numberOfUsers}"></span></p>
            <p>Total number of Care Circles: <span th:text="${numberOfCircles}"></span></p>
            <p>Total number of clients: <span th:text="${numberOfClients}"></span></p>
            <p>Total number of tasks: <span th:text="${numberOfTasks}"></span></p>
            <p>Total number of reserved tasks: <span th:text="${numberOfReservedTasks}"></span></p>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<script type="text/javascript" th:src="@{/javascript/userSearchAjax.js}"></script>
</body>
</html>