<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Care circle overview</title>
</head>
<body>

<div id="main-body">
    <div th:replace="fragments/general :: navbar"></div>

    <div class="breadCrumbsBar">
        <div th:replace="fragments/general :: previousButton"></div>
        <div class="breadCrumbs">
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdmin/dashboard}">Site Admin Dashboard</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')">Care Circle Overview</li>
        </div>
    </div>

    <div class="container">
        <h1>Care Circle Overview</h1>
        <div th:if="${!error.equals('')}" class="alert alert-danger" th:text="${error}"></div>
        <div class="site-admin-circleClientOverview">
            <div class="general-table-layout">
                <div class="table-header">
                <h5><a class="float-right" th:href="@{/circles/new}">Create new Care Circle</a>
                <form class="search-form float-left" style="width: 80%" id="circle-search-form">
                    <input class="cato-form cato-text-field keywordsBox" oninput="circle_fire_ajax_submit()" id="circleKeywordsBox" type="text" placeholder="Filter">
                </form>
                </h5>
                </div>
                <table id="circleResultTable">
                    <tbody>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>

    <div id="deleteCircleModal" class="modal"></div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<script type="text/javascript" th:src="@{/javascript/circleSearchAjax.js}"></script>
</body>
</html>