<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Task Form</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: breadCrumbsBar"></div>


<div class="container">
    <h1>Add a task to task list of <span th:text="${taskList.client.name}"></span></h1>

    <form th:action="@{/taskLists/{taskListId}/new(taskListId=${taskListId})}" method="post" th:object="${task}">
        <input type="hidden" th:field="*{taskId}">
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" required pattern=".*\S+.*"
                   oninvalid="this.setCustomValidity('Description of task cannot be empty')"
                   oninput="this.setCustomValidity('')"
                   th:field="*{description}">
        </div>
        <br>
        <div>
            <label for="priority">Priority</label>
            <select th:field="*{priority}">
                <option id="priority" th:each="priority : ${task.priorityOptions}" th:value="${priority}" th:text="${priority}"></option>
            </select>
        </div>
        <br>
        <div>
            <button type="submit" class="catoButton">Save</button>
        </div>
    </form>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>