<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Task List Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Task List of <span th:text="${taskList.client.name}"></span></h1>
    <table>
        <tr>
            <th>Task Description</th>
            <th class="iconheader">Delete</th>
        </tr>
        <tr th:each="task : ${taskList.taskList}">
            <td><a th:href="@{/taskLists/{taskListId}/{taskId}(taskListId=${taskList.taskListId}, taskId=${task.taskId})}"
                   th:text="${task.description}"></a></td>
            <td class="delete"><a th:href="@{'/task/delete/' + ${task.taskId}}"><img th:src="@{/css/images/delete-icon.svg}" height="30" width="30"></a></td>
        </tr>
    </table>
    <br>
    <a th:href="@{/taskLists/{taskListId}/new(taskListId=${taskListId})}"><button class="btn btn-primary">Add new task</button></a>
    <a class="float-right" th:href="@{/taskLists}"><button class="btn btn-primary">Back</button></a>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>