<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Add task</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: breadCrumbsBar"></div>


<div class="container">
    <h1>Add a task for <span th:text="${taskList.userName}"></span></h1>

    <form class="cato-form" th:action="@{/groups/{groupId}/clientDashboard/{clientId}/taskLists/{taskListId}/new(groupId=${groupId}, clientId=${clientId}, taskListId=${taskListId})}" method="post" th:object="${task}">

        <input type="hidden" th:field="*{taskId}">
        <div>
            <input class="cato-text-field" type="text" placeholder="Description" id="description" required th:field="*{description}">
        </div>
        <br>
        <div>
            <ul class="cato-radio">
                <li th:each="priority : *{priorityOptions}">
                    <input type="radio" th:field="*{priority}" th:value="${priority}" />
                    <label th:for="${#ids.prev('priority')}" th:text="${priority} + ' priority'"></label>
                </li>
            </ul>
        </div>
        <div>
            <button type="submit" class="catoButton">Save</button>
        </div>
        <script>
            document.getElementById("priority1").setAttribute("checked", "checked");
        </script>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>