<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Add task</title>
</head>
<body>
<div id="main-body">
    <div th:replace="fragments/general :: navbar"></div>
    <div class="breadCrumbsBar">
        <div th:replace="fragments/general :: previousButton"></div>
        <div class="breadCrumbs">
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/siteAdminDashboard}">Site Admin Dashboard</a></li>
            <li><a th:href="@{/circles}">Care Circles</a></li>
            <li><a th:href="@{/circles/{circleId}(circleId=${circleId})}"><span th:text="${circleName}"></span></a></li>
            <li>Task</li>
        </div>
    </div>


    <div class="container">
        <h1>Add a task for <span th:text="${circleName}"></span></h1>

        <form class="cato-form" th:action="@{/circles/{circleId}/taskLists/{taskListId}/new(circleId=${circleId}, taskListId=${taskListId})}" method="post" th:object="${task}">

            <input type="hidden" th:field="*{taskId}">
            <div>
                <input class="cato-text-field" type="text" placeholder="Description" id="description" required th:field="*{description}">
            </div>
            <br>
            <div>
                <label for="startTimeInput">Start date:</label>
                <input type="datetime-local" id="startTimeInput" th:object="${startTimeInput}" name="startTimeInput">
            </div>
            <div>
                <label for="endTimeInput">End date:</label>
                <input type="datetime-local" id="endTimeInput" th:object="${endTimeInput}" name="endTimeInput">
            </div>
            <br>
            <div>
                <ul class="cato-radio">
                    <li th:each="priority : *{priorityOptions}">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" th:field="*{priority}" th:value="${priority}" />
                            <label class="custom-control-label" th:for="${#ids.prev('priority')}" th:text="${priority} + ' priority'"></label>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <button type="submit" class="catoButton" id="saveNewTask">Save</button>
                <a type="button" th:href="@{/circles/{circleId}(circleId=${circleId})}" class="catoButton">Cancel</a>
            </div>
            <script>
                document.getElementById("priority1").setAttribute("checked", "checked");
            </script>
        </form>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>