<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Task Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container">
    <h1>Task details</h1>
    <div>Task: <span th:text="${task.description}"></span></div>
    <div>The priority for this task is: <span th:text="${task.priority}"></span></div>
    <br>
    <a th:href="@{/taskLists/{taskListId}/update/{taskId}(taskListId=${taskList.taskListId}, taskId=${task.taskId})}"><button class="btn btn-primary">Edit</button></a>
    <button type="button" class="btn btn-primary float-right" onclick="javascript:history.back()">Back</button>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>