<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: breadCrumbsBar"></div>

<div class="container">
    <h1>All Task Lists</h1>
    <table id="tasklisttable">
        <tr>
            <th>Client</th>
            <th class="iconheader">View task list</th>
        </tr>
        <tr th:each="taskList : ${allTaskList}">
            <td th:text="${taskList.client.name}"></td>
            <td class="edit"><a th:href="@{/taskLists/{taskListId}(taskListId=${taskList.taskListId})}"><img th:src="@{/css/images/view-icon.svg}" height="30" width="30"></a></td>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>