<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>Task Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<div class="breadCrumbsBar">
    <div th:replace="fragments/general :: previousButton"></div>
    <div class="breadCrumbs">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/groups}">Groups</a></li>
        <li><a th:href="@{/groups/{groupId}(groupId=${groupId})}"><span th:text="${groupName}"></span></a></li>
        <li>Task</li>
    </div>
</div>

<div class="container">

    <div class="cato-edit-flex">
            <div class="card-body">
                <h1>Task details</h1>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Task</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span th:text="${task.description}"></span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Priority</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span th:text="${task.priority}"></span>
                    </div>
                </div>
        </div>
        <div class="cato-option-row">
            <ul class="cato-ul">
                <li><a th:href="@{/groups/{groupId}/taskLists/{taskListId}/update/{taskId}(groupId=${groupId}, taskListId=${taskList.taskListId}, taskId=${task.taskId})}">Edit task</a></li>
                <li><hr></li>
                <li><a id="cato-delete-link" th:href="@{'/task/delete/' + ${task.taskId}}">Delete task</a></li>
            </ul>
        </div>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>