<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})" >
    <meta charset="UTF-8">
    <title>User Overview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Overview of all registered users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td><a th:href="@{/profilepage/{userId}(userId=${user.userId})}" th:text="${user.name}"></a></td>
            <td th:text="${user.email}"></td>
            <td class="edit"><a th:href="@{'/users/update/' + ${user.userId}}"><img th:src="@{/css/images/edit-icon.svg}" height="30" width="30"></a></td>
            <td class="delete"><a th:href="@{'/users/delete/' + ${user.userId}}"><img th:src="@{/css/images/delete-icon.svg}" height="30" width="30"></a></td>
        </tr>
    </table>
    <p>
        <a th:href="@{/registration}"><button type="button" class="btn btn-primary">Add new user</button></a>
    </p>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>